<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>


    <target
    xsi:type="File" name="file" fileName="D:/logs/${shortdate}.txt"
    layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${newline}"/>


    <target name="database" xsi:type="Database" dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient">
      <connectionString>Data Source=.;Initial Catalog=WenDB;user=sa;password=123;TrustServerCertificate=true</connectionString>
      <commandText>
        INSERT INTO dbo.Log記錄檔
        (SysName系統名稱, CreatedTime建立時間, Level級別, Message錯誤訊息, LoggerName登入者)
        VALUES
        (@SysName, @CreatedTime, @Level, @Message, @LoggerName);
      </commandText>
      <parameter name="@SysName" layout="${logger}" />
      <parameter name="@CreatedTime" layout="${date}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@LoggerName" layout="${logger}" />
      <!-- <parameter name="@Exception" layout="${exception:tostring}" /> -->
    </target>

    <!-- 寄送 電子郵件 的設定 -->   
<target name="email" xsi:type="Mail"
            smtpServer="smtp.office365.com"
            smtpAuthentication="Basic"
            smtpPort="587"
            smtpUserName="rainbow_kapok@hotmail.com"
            smtpPassword="1104kiki@"
            from="rainbow_kapok@hotmail.com"
            to="rainbow.kapok@gmail.com"
            html="true"
            enableSsl="true"
            replaceNewlineWithBrTagInHtml="true"
            subject="Hello!"
            timeout="100000"
            body="log建立時間:${date}，等級:${level}"
          />


  </targets>

  <rules>

    <!--<logger name="*" levels="Trace,Debug,Info" writeTo="file" />-->
    <logger name="PrjWen.*" levels="Info" writeTo="email" />
    <logger name="PrjWen.*" levels="Info" writeTo="file" />
    <logger name="PrjWen.*" level="Info" writeTo="database"/>
  </rules>
</nlog>
