<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target
    xsi:type="File" name="file" fileName="D:/logs/${logger}.txt"
    layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${newline}"/>

    <target name="database" xsi:type="Database" dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient">
      <connectionString>Data Source=.;Initial Catalog=WenDB;Integrated Security=True</connectionString>
      <commandText>
        INSERT INTO dbo.Log記錄檔
        (SysName系統名稱, CreatedTime建立時間, Level級別, Message錯誤訊息, LoggerName登入者)
        VALUES
        (@SysName, @CreatedTime, @Level, @Message, @LoggerName);
      </commandText>
      <parameter name="@SysName" layout="${logger}" />
      <parameter name="@CreatedTime" layout="${date}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@LoggerName" layout="${logger}" />
     <!-- <parameter name="@Exception" layout="${exception:tostring}" /> --> 
    </target>
 
    
  </targets>

  <rules>
    <logger name="*" levels="Trace,Debug,Info" writeTo="file" />
    <logger name="*" level="Info" writeTo="database"/>
  </rules>
</nlog>
