<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
   <variable name="appname" value="TestNLog" />  
  <targets>   
<!-- source="Lab_Of_NLog" log="Application"-->
     <target xsi:type="File" name="file" fileName="D:/logs/${date:format=yyyy}${date:format=MM}${environment-user}.txt"
            layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} | ${newline}
            action :${aspnet-mvc-action} | url: ${aspnet-request-url} ${newline}
            stacktrace :${stacktrace}"/>


    <target xsi:type="File" name="info" fileName="D:/logs/info/${shortdate}.txt"
            layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${newline}"/>
    
     <target xsi:type="File" name="warning" fileName="D:/logs/warn/${shortdate}.txt"
            layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${newline}"/>   
   
 

    <target name="database" xsi:type="Database" dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient">
      <connectionString>Data Source=.;Initial Catalog=WenDB;user=sa;password=123;TrustServerCertificate=true</connectionString>
      <commandText>
        INSERT INTO dbo.Log記錄檔
        (SysController,  SysAction, CreatedTime建立時間, Level級別, Message訊息,LoggerName登入者,System,SessionId)
        VALUES
        (@SysController, @SysAction, @CreatedTime, @Level, @Message, @LoggerName, @System, @SessionId);
      </commandText>
      <parameter name="@SysController" layout="${aspnet-mvc-controller}" />
      <parameter name="@SysAction" layout="${aspnet-mvc-action}" />
      <parameter name="@CreatedTime" layout="${date}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@LoggerName" layout="${environment-user}" />
       <parameter name="@System" layout="${logger}" />
     <parameter name="@SessionId" layout="0" />
      <!-- <parameter name="@Exception" layout="${exception:tostring}" /> -->
    </target>

    <!-- 寄送 電子郵件 的設定 -->   
<target name="email" xsi:type="Mail"
            smtpServer="smtp.office365.com"
            smtpAuthentication="Basic"
            smtpPort="587"
            smtpUserName="rainbow_kapok@hotmail.com"
            smtpPassword="1104kiki@"
            from="rainbow_kapok@hotmail.com"
            to="rainbow.kapok@gmail.com"
            html="true"
            enableSsl="true"
            replaceNewlineWithBrTagInHtml="true"
            subject="Hello!"
            timeout="100000"
            body="log建立時間:${date}，等級:${level}"
          />


  </targets>

  <rules>

    <!--<logger name="*" levels="Trace,Debug,Info" writeTo="file" />-->
    <logger name="PrjWen.*" levels="Info,Warn" writeTo="file" />
    <logger name="PrjWen.*" levels="Warn" writeTo="warning" />
    <logger name="PrjWen.*" levels="Info" writeTo="info" />
    <logger name="PrjWen.*" levels="Info" writeTo="email" />    
    <logger name="PrjWen.*" levels="Info,Warn" writeTo="database"/>
  </rules>
</nlog>
