@using PrjWen.ViewModel
@model credit


@{
    ViewData["Title"] = "Edit";
}
<div style="display:block;height:40px;"></div>

<h1>編輯信用卡</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Cid信用卡流水號" />
            <div class="form-group">
                <label asp-for="Cname信用卡公司名" class="control-label"></label>
                <input asp-for="Cname信用卡公司名" class="form-control" />
                <span asp-validation-for="Cname信用卡公司名" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cnum信用卡號" class="control-label"></label>
                <input asp-for="Cnum信用卡號" class="form-control" />
                <span asp-validation-for="Cnum信用卡號" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="Cuse使用狀態" class="control-label"></label>
                <input asp-for="Cuse使用狀態" class="form-control" />
                <span asp-validation-for="Cuse使用狀態" class="text-danger"></span>*@
                <select name="Cstate" class="form-select" aria-label="Default select example">
                    <option value="true">使用</option>
                    <option value="false">不使用</option>                   
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="儲存" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">回到信用卡清單</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
